.example-container {
  margin: 10px;
  background: #eee;
  height: 100vh;
  width: auto;
}
.sidebar {
  display: flex;
  align-items: center; /* Vertically center the content if needed */
  height: 100%; /* Ensure sidebar takes full height */
  padding: 0px 50px;
}

.sidebar-element {
  display: flex;
  flex-direction: column; /* Ensure buttons are in a column */
  gap: 10px; /* Space between buttons */
}

button {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

a {
  text-decoration: none; 
  color: inherit; 
}
.gradient-text {
 font-size:5rem ;
  background: linear-gradient(#ff6ec4, #7873f5, #ff5858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  justify-content: center;

}