.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: blueviolet;
}
.container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 400px;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
mat-form-field{
    width: 80vh;
}
.submit-btn{
    height: 55px;
    margin-left: 5px;
    margin-bottom: 22px;
    min-width:20vh ;
}
.list-container {
  padding: 10px;
}
.list-item {
  background-color: white;
  border-radius: 5px;
  min-width: 200px;
  
}
