<div>
  <div class="container">
    <div class="container-heading">
      <h2>Monthly Task</h2>
    </div>
  </div>

  <div class="task-input">
    <form> 
      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Enter Today's Task</mat-label>
          <input #taskInput matInput type="text" placeholder="Placeholder" />
        </mat-form-field>
        <button
          class="submit-btn"
          mat-raised-button
          (click)="addTask(taskInput.value)"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="list-container">
    <mat-list class="list-item">
      @for(task of Task;track $index;){
        
      <mat-list-item>{{$index+1}}. {{ task.monthlyTask }}</mat-list-item>
      <hr>
      
      }
    </mat-list>
  </div>
</div>
